.settings-container {
  margin-left: 17%;
  width: 80%;
}

.setting-table {
  /* width: 80%; */
  height: 80vh;
  border-radius: 20px;
  border: 1px solid var(--yellow);
}

.setting-head {
  border-bottom: 2px solid var(--yellow);
}

.setting-items ul li {
  color: var(--white);
  border-bottom: 1px solid var(--yellow);
}

@media (max-width: 640px) {
  .settings-container {
    margin-left: 0;
    width: 100%;
    padding: 5%;
  }
  .setting-table {
    width: 100%;
  }
}
