.recipe-card {
  background-color: var(--dark-blue);
  border-radius: 20px;
  width: 10rem;
  height: 14rem;
}

.recipe-card:hover {
  border: 2px solid var(--yellow);
}

.recipe-img {
  width: 90%;
  height: 40%;
  border-radius: 20px;
  object-fit: cover;
}

.see-more {
  color: var(--light-gray);
  text-decoration: underline;
  font-size: 14px;
}
