:root {
  --yellow: #f5a504;
  --dark-gray: #28282b;
  --black: #1e1e1e;
  --dark-blue: #273b4a;
  --white: #fff;
  --text-gray: #686767;
  --light-gray: #d9d9d9;
}

[data-theme="light"] {
  --dark-gray: #f8e8ee;
  --black: #eeeeee;
  --dark-blue: #eee2de;
  --white: #000;
  --light-gray: #686767;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--black);
}
