.add-recipee-main {
  margin-left: 17%;
}

.prompt {
  background-color: var(--dark-gray);
  height: 20rem;
  width: 40rem;
  /* margin: auto; */
  transform: translateX(50%);
  border-radius: 20px;
  /* transform: translateY(50%); */
}

.prompt-buttons button {
  width: 8rem;
  height: 2.5rem;
  border-radius: 5px;
  background-color: var(--yellow);
  color: var(--white);
}

.add-recipee-main p {
  color: var(--white);
}

.add-recipee-main h2 {
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
}

.add-recipee-container {
  width: 95%;
}

.add-recipee-form input {
  background: none;
  border: 2px solid var(--yellow);
  border-radius: 10px;
  color: var(--white);
}

.add-recipee-head input {
  height: 3.5rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  width: 100%;
}

.add-recipee-head input:nth-child(3) {
  color: #62a2eb;
}

.type-ingredients input:nth-child(1) {
  width: 30%;
}

.add-recipee-form textarea {
  background: none;
  border: 2px solid var(--yellow);
  border-radius: 10px;
  color: var(--white);
  height: 10rem;
  padding-left: 1rem;
  width: 100%;
  resize: none;
}

.recipee-nutrients input {
  width: 20rem;
  height: 3.5rem;
  /* margin-bottom: 1rem; */
  padding-left: 1rem;
}

.check-order input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 5px;
}

.add-recipee-order input {
  width: 20rem;
  height: 3.5rem;
  padding-left: 1rem;
  /* margin-right: 3%; */
}

.add-recipee-buttons button {
  width: 6rem;
  height: 2.5rem;
  border-radius: 5px;
  background-color: var(--yellow);
  color: var(--white);
}

.add-recipee-buttons button:nth-child(1) {
  background: none;
  border: 2px solid var(--yellow);
}

@media (max-width: 640px) {
  .add-recipee-main {
    margin-left: 0;
    padding: 5%;
  }
  .add-recipee-form input,
  .add-recipee-order input,
  .add-recipee-form textarea {
    font-size: 14px;
  }
  .add-recipee-head input {
    height: 3rem;
  }
  .type-ingredients input:nth-child(1) {
    width: 100%;
  }
}
