.main-content {
  color: var(--white);
  margin-left: 17%;
  width: 56%;
}

nav h2 {
  font-size: 1.5rem;
  font-weight: 600;
  width: 45%;
}

.filter {
  background-color: var(--dark-blue);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5px;
  color: var(--white);
}

.navbar {
  display: none;
}

.search input {
  border: none;
  background-color: var(--dark-blue);
  height: 2.5rem;
  width: 14rem;
  border-radius: 5px;
  padding: 3%;
}

.search-results-container {
  /* height: 13rem; */
  background-color: var(--dark-gray);
  border-radius: 20px;
}

.ad1 {
  background-color: var(--yellow);
  height: 8rem;
  border-radius: 20px;
}

.ad1 h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1%;
}

.ad1 p {
  width: 60%;
}

.ad1 img {
  width: 17%;
  top: -30%;
  right: 5%;
}

.fav {
  width: 55rem;
}

.fav-container {
  border-radius: 20px;
}

.view {
  color: var(--text-gray);
}

.choice-container {
  border-radius: 20px;
}

.choice-cards {
  /* width: 80rem; */
}

.choice-container::-webkit-scrollbar,
.fav-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  .main-content {
    width: 100%;
    margin-left: 0;
    padding: 5%;
    margin-top: 0;
  }

  .navbar {
    display: flex;
  }

  .dashboard-nav {
    flex-direction: column;
  }

  .dashboard-nav h2 {
    width: auto;
  }

  .search {
    margin-top: 5%;
    justify-content: space-between;
  }

  .search input {
    width: 17rem;
  }

  .ad1 p {
    width: 100%;
    font-size: 14px;
  }

  .ad1 img {
    display: none;
  }

  .navbar-logo {
    width: 5rem;
  }
}
