.basket-main {
    margin-left: 17%;
    width: 50%;
}

@media (max-width: 640px) {
    .basket-main {
        margin-left: 0;
        width: 100%;
        padding: 5%;
    }
}

@media ((max-width: 768px) and (min-width: 641px)) {
    .basket-main {
        width: 100%;
        padding: 3%;
        margin-left: 0;
    }
}
