.all-categories-main {
    width: 55%;
    margin-left: 17%;
}

@media (max-width: 640px) {
    .all-categories-main {
        width: 100%;
        margin-left: 0%;
        padding: 5%;
    }

    
}
