.choice {
  background-color: var(--dark-blue);
  border-radius: 20px;
  /* width: 40rem; */
}

.choice:hover {
  border: 2px solid var(--yellow);
  box-sizing: border-box;
}

.main {
  width: 35%;
  height: 95%;
  /* border-right: 2px solid var(--yellow); */
}

.cuis-item p {
  color: var(--light-gray);
}

.cuisine-content {
  width: 70%;
}

.category-image img {
  border-radius: 20px;
}

.choice-item-img {
  height: 4rem;
  width: 4rem;
}

.choice-item-img img {
  object-fit: cover;
}

@media (max-width: 640px) {
  .main {
    width: 95%;
    height: 40%;
  }
  .cuisine-content {
    width: 100%;
  }
}
