.sidebar {
  background-color: var(--dark-gray);
  width: 15%;
  /*height: 100vh;*/
  height: 100dvh;
}

.sidebar-logo img {
  width: 80%;
}

.sidebar-options {
  color: var(--white);
  height: 70%;
}

.checked {
  background-color: var(--yellow);
  height: 2.5rem;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
}

.share-now {
  background-color: var(--yellow);
  color: var(--white);
  height: 12rem;
  width: 11rem;
  border-radius: 20px;
}

.sidebar h1 {
  font-size: 1.5rem;
  color: var(--white);
  text-align: center;
  font-weight: 600;
  margin-top: 5%;
}

.sidebar-options ul li {
  display: flex;
  gap: 5%;
  margin-bottom: 18%;
  width: 85%;
  padding-left: 15%;
}

/* .sidebar-options span {
  font-size: 16px;
} */
.share-now p {
  /* font-size: 16px; */
  font-weight: 600;
}

.share-now img {
  width: 70%;
  top: -30%;
}

.share-now button {
  background-color: var(--white);
  color: var(--black);
  border-radius: 5px;
  width: 80%;
  height: 2rem;
  margin-top: 8%;
  font-weight: 600;
}

@media (max-width: 640px) {
  .sidebar {
    width: auto;
    z-index: 1;
    left: -50%;
    /* height: 100lvh; */
  }
  .share-now {
    height: 10rem;
    width: 9rem;
  }
  /* .share-now p {
    font-size: 14px;
  } */

  /* .sidebar-options span {
    font-size: 14px;
  } */

  /* .share-now button {
    font-size: 14px;
  } */
  .sidebar-logo {
    width: 14rem;
  }
  .sidebar-logo img {
    width: 80%;
  }
  .sidebar-options ul li {
    margin-bottom: 13%;
  }
}
