.signup-header {
  color: var(--white);
}

.signup-header h2 {
  font-weight: 600;
  font-size: 2.5rem;
}

.signup-form-container {
  width: 70%;
  /* transition: 0.5s ease-in-out; */
}

.signup-forms form label {
  margin-bottom: 2%;
}

.signup-forms form input {
  margin-bottom: 5%;
}

.signup-forms form input {
  /* border: none; */
  border-bottom: 2px solid var(--yellow);
  /* color: var(--yellow); */
  background: transparent;
}

.signup-forms form input:focus {
  outline: none;
  border-bottom: 2px solid var(--white);
}

.signup-forms-btns button {
  height: 3rem;
  border-radius: 10px;
}

.signup-forms-btns button[type="submit"] {
  background: var(--yellow);
  color: var(--white);
  border: none;
}

.signup-forms-btns button {
  border: 2px solid var(--yellow);
  color: var(--yellow);
}
