.basketcard {
  background-color: var(--dark-blue);
  height: 9rem;
  width: 100%;
  border-radius: 20px;
}

.basketcard p {
  color: var(--light-gray);
}

.item-img-container {
  width: 25%;
}

.item-img {
  width: 80%;
  height: 100%;
}

.item-contents {
  width: 80%;
}

.item-img img {
  border-radius: 20px;
}

.item-delete > *,
.item-delete p {
  color: var(--text-gray);
}

.item-end {
  width: 35%;
}

@media (max-width: 640px) {
  .item-img-container {
    width: 40%;
  }
  .item-contents {
    width: 75%;
  }
  .item-price {
    font-size: 14px;
  }
  .item-end {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    width: 100%;
    gap: 5%;
    align-items: center;
    margin-top: 5%;
  }
  .total-price {
    font-size: 14px;
  }
  .item-img {
    width: 100%;
  }
}
