.infocard {
  width: 40vw;
  height: 100dvh;
  background-color: var(--dark-gray);
  border-radius: 30px 0 0 30px;
  transition: 0.3s linear;
}

.info-title p {
  color: var(--text-gray);
}

.price {
  color: var(--white);
  font-weight: 600;
}

.price-container {
  background-color: var(--dark-blue);
  width: auto;
  height: 3rem;
  border-radius: 10px;
}

.info-add {
  width: 40vw;
  bottom: 0;
  padding: 15px;
  background-color: var(--dark-gray);
}

.info-add button {
  /* width: 55%; */
  height: 3rem;
  background-color: var(--yellow);
  border-radius: 16px;
  color: var(--white);
}

.basket-button {
  width: 55%;
}

.like-button {
  width: 4rem;
  background-color: var(--yellow);
  color: var(--white);
  border-radius: 16px;
}

.quantity-button button {
  width: 4rem;
  background-color: var(--yellow);
  color: var(--white);
  border-radius: 16px;
}

.collapse-bar {
  background-color: var(--yellow);
  height: 7rem;
  width: 5px;
  border-radius: 20px;
  top: 45%;
  left: -2%;
}

.nutrients {
  width: 13rem;
  height: 15rem;
  background-color: var(--dark-blue);
  border-radius: 20px;
  /* top: 8%; */
}

.nutrients-container {
  border-bottom: 1px solid var(--white);
}

.nutrients-content ul li {
  border-bottom: 1px solid var(--yellow);
}

.loader {
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 640px) {
  .infocard {
    width: 100%;
    border-radius: 30px;
  }
  .info-add {
    width: 100%;
    bottom: inherit;
  }
  .basket-button{
    width: 40%;
  }
  .info-add button {
    height: 2.5rem;
  }
  .quantity-button button,
  .like-button {
    width: 3rem;
  }
}
